.DashboardHome{
    flex: 4;
    background-color: white;
    margin-top: 10px;
    top: 80px;
}

.WidgetLgUserColumn{
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #000;
}